/*Layout and structure*/
body{
	color:grey !important;
	position:;
}

img{
	/*width: auto;*/
	/*height:700px;*/
}

.bottom{
	position: relative;
	bottom:60px;
	left:20%;
}


.body1{
	/*background-color: #2ca7df;*/
	/*background-size: cover;*/
	padding:12%;
	padding-top:28%;
	padding-left:20%;
	min-height: 100vh;
}

.back1{
	background:
	linear-gradient(to right,
		rgba(255, 255, 255, 0.99),
		rgba(255, 255, 255, 0.01)
	),

    url("");
		background-repeat: : no-repeat;
		background-size:cover;
		/*z-index:;*/
}
.body2 {
	/*background-color: #E5E8B6 ;*/
	/*background-size: cover;*/
	height: 100vh;
}

.back2{
	background:
	linear-gradient(
		rgba(255, 255, 255, 0.99),
		rgba(255, 255, 255, 0.5)
	),
    url("img/column2.jpg");
		background-repeat: : no-repeat;
		background-size:cover;
		height: 100vh;
		z-index:-1;
}

#column1{
	position:relative;
	/*box-shadow:  10px 0px 40px #816767;*/
}

.column2{
	height:100vh !important;
}
