/*Layout and structure*/
body{
	color:white !important;
}

img{
	/*width: auto;*/
	/*height:700px;*/
}

.bottom{
	position: relative;
	bottom:0px;
	left:10%;
}


.body1{
	background-size: auto;
	background-color: #2ca7df;
	/*background-size: cover;*/
	padding:10%;
	min-height: 90vh;



}
.body2 {
	/*background-color: #E5E8B6 ;*/
	/*background-size: cover;*/
}

#column1{
	position:relative;
	box-shadow:  10px 0px 40px #816767;
}
