#items{
	height: 10px !important;
}


/*.img_cnt{
	height:900px!important;
};*/


.carText{
	border-bottom-color: #dd3c29;
	padding-top: 10px;
	padding-bottom: 70px;
	border-bottom-style: solid;
	border-bottom-width: 10px;

}

.ui.button[class*="right floated"], .ui.buttons[class*="right floated"] {
	float: right;
	margin-right: 1.5em;
	margin-left: .25em;
}

.ui.button, .prev, .next{
	box-shadow: 0px 0px 25px black;
}

.item{
	background-color: transparent !important;
}

.textWrapper{
	background-color: rgba(0, 55, 79, 0.89);
	position: absolute !important;
	bottom:0;
	padding:0%;

}
.textWrapper > p{
	color: #9adbf7;
	padding:3%;
}

.car_bk{
	background-color: transparent;
}

.button_ctn{
	position:relative;
	top:35vh;
	left:16px;

	z-index:10;
	/*padding:15%;*/

}

@media screen (max-width: 768px) {
    .textWrapper {
        position:relative;
				margin:10%;
    }
}
