/*.img_cnt{
	height:900px!important;
}*/

.student{
	background-color: transparent !important;
}

.textWrapper{
	background-color: rgba(255,255,0,0.5)    /* 10% opaque red */   ;
	position: absolute;
	bottom:0;
}

.car_bk{
	background-color: transparent;
}

.button_ctn{
	position:absolute;
	top:8px;
	left:16px;
	z-index:-1;*/

}
